
*.o

bin/release/moc_graphicareawidget.cpp

bin/release/moc_mainwindow.cpp

bin/release/moc_predefs.h

bin/ui_mainwindow.h

*.stash

bin/Makefile

bin/Makefile.Debug

bin/Makefile.Release

bin32/release/moc_graphicareawidget.cpp

bin32/release/moc_mainwindow.cpp

bin32/release/moc_predefs.h

bin32/Makefile

bin32/Makefile.Debug

bin32/Makefile.Release

bin32/ui_mainwindow.h
